body, h1, p {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}
#logoriba{
	background:#3FB74B;
  color: white;
  padding: 5px;
}
.alltulp{
	display: flex;
	width: 100%;
}
.imeji{
	flex: 1;
	padding: 0px;
	box-sizing: border-box;
	background-color: rgb(100,220,100);
}
.pildinõunik{
	width: 100%;
}
.kesktulbasuurnõunik{
	flex: 2;
	padding: 20px;
	box-sizing: border-box;
	background-color: rgb(100,220,100);
}
.top-bar {
  position: static;
  width: 100%;
  background-color: #333;
  padding: 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbutton{
	width: 100%;
	padding: 10px 10px;
	background-color: #333;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 30px;
	color: white;
	cursor: pointer;
	border: none;
	display: block;
	transition: background-color 0.3s ease;
}
.ddbutton{
	position: absolute;
	top:0px;
	padding: 10px 10px;
	width:100%;
	background-color: #333;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
	color: white;
	cursor: pointer;
	border: none;
	
}
#minig{
	top: 0px;
	transition: 
	background-color 0.3s ease, 
	top 0.2s ease, 
	opacity 0.2s ease; 
}
#disc{
	top:0px;
	transition: 
	background-color 0.3s ease, 
	top 0.4s ease, 
	opacity 0.4s ease; 
}
#volks{
	top:0px;
	transition: 
	background-color 0.3s ease, 
	top 0.6s ease, 
	opacity 0.6s ease; 
}
#hoovus{
	top:0px;
	transition: 
	background-color 0.3s ease, 
	top 0.8s ease, 
	opacity 0.8s ease; 
}
#dropdown{
	display: none;
	position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	pointer-events: auto;
}

#v6lurida{
	height: 0px;
}
.sisukonteiner{
	align-items: center;
	display: flex;
	justify-content: center;
}
.kesktulp{
	width: 50%;
	border: 2px;
}
.vasakgolfipilt{
	position: relative;
	top: 20px;
	left: 20px;
}
.paremgolfipilt{
	position: relative;
	top: 20px;
	right: 20px;
}
.spam{
	padding:100%;
}
#gorufu{
	width:20%;
}
#gorufu2{
	width:20%;
}
#golflogo{
	width:20%;	
}
.piltvasakul {
    margin-left: -100vw;
    float: left;
}