.header {
    position: sticky;
    background:#3FB74B;
    transform: skewY(-15deg);
    transform-origin: top;
    width: 130vw;
    padding-left: 12vw;
    margin-left: -85vw;
    height: 35vh;
    top: 0;
    opacity: 90%;
  }

#headeritekst {
    position: absolute;
    bottom: 0;
    color: #f2f2f2;
    text-indent: 73vw;
    font-size: 80px;

}

.headeri-pilt {
    width: 100vw;
    height: 32vh;
    margin-top: -30vw;
    margin-bottom: 4vw;
    margin-left: -1vw;
}

  
.puhver {
    display: block;
    width: 100vw;
    height: 10vh;
}

.pealkiri {
    font-size: 30px;
    color: rgb(0,64,0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: 500;
}

.sissejuhatav {
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    color: rgb(0,64,0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}


.alapealkiri {
    color: rgb(0,64,0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-weight: 300;
}

.minipealkiri {

    color: rgb(0,64,0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-weight: 200;
}

.tavatekst {

    color: rgb(0,64,0);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    width: 50%;
    text-align: left;
}

.põhi {
    background-color: rgb(100,220,100);
    overflow-x: hidden;
    width: 100%;
    
}

.pilt {
    width: 40%;
    height: 40%;
    margin-right: 1vw;
    float: right;
    border-color: green;
    border-radius: 1vw;
    border-style: inset;
    border-spacing: 2px;
    position:absolute;
}

#liikuvpilt {
    margin-right: -550px
}

.link {
    color: rgb(0,64,0);
}

.jalus {
    text-align: center;
    width: 105%;
    margin-left: -3vw;
    margin-bottom: -1vw;
    position: absolute;

    background-color: #3FB74B;
}
