.header {
    position: sticky;
    background:#3FB74B;
    transform: skewY(-15deg);
    transform-origin: top;
    width: 130vw;
    padding-left: 12vw;
    margin-left: -85vw;
    height: 35vh;
    top: 0;
    opacity: 90%;
  }

#headeritekst {
    position: absolute;
    bottom: 0;
    color: #f2f2f2;
    text-indent: 73vw;
    font-size: 80px;

}

.headeri-pilt {
    width: 100vw;
    height: 32vh;
    margin-top: -30vw;
    margin-bottom: 4vw;
    margin-left: -1vw;
}

  
.puhver {
    display: block;
    width: 100vw;
    height: 10vh;
}

.pealkiri {
    font-size: 30px;
    color: rgb(0,64,0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: 500;
}

.sissejuhatav {
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    color: rgb(0,64,0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

.tekstvasakul {
    text-align: left;
    float: left;
    padding-left: 10px;
}

.tekstparemal {
    float: right;
    text-align: right;
    padding-right: 20px;
}
.alapealkiri {
    color: rgb(0,64,0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}

.minipealkiri {

    color: rgb(0,64,0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}

.tavatekst {

    color: rgb(0,64,0);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-overflow: clip;
}

.põhi {
    background-color: rgb(100,220,100);
    overflow-x: hidden;
    width: 100%;
    
}

.pilt {
    height: 300px;
    width: 533px;
    border-color: green;
    border-radius: 1vw;
    border-style: inset;
    border-spacing: 2px;
    position:relative;
}

.piltvasakul {
    margin-left: -550px;
    float: left;
}

.piltparemal {
    margin-right: -550px;
    float: right;
}


.link {
    color: rgb(0,64,0);
}

.jalus {
    text-align: center;
    width: 105%;
    margin-left: -3vw;
    margin-bottom: -1vw;
    position: absolute;

    background-color: #3FB74B;
}

.animateparem {
    animation-name: animateparem;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
@keyframes animateparem {
    from {
        margin-right: -550px;
    }
    to {
        margin-right: 50px;
    }
}

.animatevasak {
    animation-name: animatevasak;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
@keyframes animateparem {
    from {
        margin-left: -550px;
    }
    to {
        margin-left: 50px;
    }
}

