.header {
    position: sticky;
    background:#3FB74B;
    transform: skewY(-15deg);
    transform-origin: top;
    width: 130vw;
    padding-left: 12vw;
    margin-left: -85vw;
    height: 35vh;
    top: 0;
    opacity: 90%;
  }

#headeritekst {
    position: absolute;
    bottom: 0;
    color: #f2f2f2;
    text-indent: 75vw;
    font-size: 80px;

}

.headeri-pilt {
    width: 100vw;
    height: 32vh;
    margin-top: -30vw;
    margin-bottom: 4vw;
    margin-left: -1vw;
}

  
.puhver {
    display: block;
    width: 100vw;
    height: 10vh;
}

.pealkiri {
    font-size: 30px;
    color: rgb(0,64,0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.sissejuhatav {
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    color: rgb(0,64,0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content {
    padding: 16px;
  }

.sticky {
    position: sticky;
    top: -100px;
    width: 100%
  }

.sticky + .content {
    padding-top: 100px;
  }

h2 {
    font-size: 25px;
    color: rgb(0,64,0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

.minipealkiri {
    font-size: 20px;
    color: rgb(0,64,0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

.tavatekst {
    font-size: 15px;
    color: rgb(0,64,0);
    font-family: 'Times New Roman';
    font-weight: 100;
    width: 50%;
}

.põhi {
    background-color: rgb(100,220,100);
    overflow-x: hidden;
    width: 100%;
    
}

.pilt {
    width: 40%;
    height: 40%;
    margin-right: 2vw;
    float: right;
    border-color: green;
    border-radius: 1vw;
    border-style: inset;
    border-spacing: 2px;
}

.link {
    color: rgb(0,64,0);
}