.header{
    position: sticky;
    background:#3FB74B;
    content:"";
    transform: skewY(-15deg);
    transform-origin: top;
    width: 130vw;
    padding-left: 12vw;
    margin-left: -85vw;
    height: 35vh;
    top: 0;
    opacity: 90%;

}

#headeritekst {
    position: absolute;
    bottom: 0;
    color: #f2f2f2;
    text-indent: 73vw;
    font-size: 80px;

}

.headeri-pilt {
    width: 100vw;
    margin-top: -30vw;
    margin-bottom: 4vw;
    margin-left: -1vw;
}

.pealkiri {
    font-size: 30px;
    color: rgb(0,0,0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.sissejuhatav {
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    color: rgb(0,0,0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.puhver {
    display: block;
    width: 100vw;
    height: 10vh;
}

h2 {
    font-size: 25px;
    color: rgb(0,0,0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    padding-left: 1%;
}

.nipid {
    font-size: 20px;
    color: rgb(97, 97, 97);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: 100;
    padding-left: 1%;
    width: 50%;
}

.tavatekst {
    font-size: 15px;
    color: rgb(15,15,15);
    font-family: 'Times New Roman';
    font-weight: 100;
    padding-left: 1%;
    width: 50%;
}


img {
    width: 40%;
    height: 40%;
    float: right;
}

.jalus {
    text-align: center;
    width: 105%;
    margin-left: -3vw;
    margin-bottom: -1vw;
    position: absolute;

    background-color: #3FB74B;
}

.põhi {
    background-color: rgb(100, 220, 100);
    overflow-x: hidden;
    width: 100%;
}