.img-container {
    position: relative;
    width: auto;
    height: auto;
}
.image_container img:pilt1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    opacity: 1;
    transition: opacity 0.5s ease-in-out
}

.image_container img:pilt2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    opacity: 1;
    transition: opacity 0.5s ease-in-out
}

.image-container:hover img:pilt1 {
    opacity: 0;
}

.image-container:hover img:pilt2{
    opacity: 1;
}

.image-container p {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}